<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="themeUrl" value="http://themeserver.microsoft.com/default.aspx?p=Bing&amp;c=Desktop&amp;m=en-US"/>
        <add key="wallpaperFolder" value="C:\Wallpapers"/>
    </appSettings>
    <system.net>
        <defaultProxy useDefaultCredentials="true">
            <proxy usesystemdefault="True" />
        </defaultProxy>
    </system.net>
</configuration>